@import "bootstrap/bootstrap.less";
@import "bootstrap/responsive.less";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);

* {
    font-family: 'Open Sans', sans-serif;    
}

.bg {
    background: #f7f7f7;
}

.border( @border ) {
	-moz-border-radius: @border;
	-webkit-border-radius: @border;
	-webkit-border-radius: @border;
	border-radius: @border;
}

html, body {
	.bg();
	
	margin: 0;
	padding: 10px 0;
	width: 100%;
	height: 100%;
	color: #9C2D38+10;
}

.main-stamp {
    float: left;    

    font-size: 42px;
}

hr {
	border: none;
	border-top: 1px solid #AFAFAF;
    clear: both;
}

p {
	font-weight: 300;
	line-height: 130%;
	letter-spacing: 0.5px;

	font-size: 26px;
	color: #000+75;
}

.title, .quote {
	color: #9C2D38;
}

pre {
    font-size: 20px;    
    padding: 0;
    line-height: 145%;
}

.quote {
	font-size: 14px;
}

.center {
	text-align: center;
}

.light {
	font-weight: 100;
	letter-spacing: 2px;
}

.navigation {
    float: right;
    padding: 15px 0;

    li {
        float: left;    
        list-style: none;
        padding: 0 10px 0;
    }
}

.press-wrap {
    padding: 0;    
    margin: 0;
}

.press {
   padding: 10px 0; 
}

.mask {
    padding: 10px 0;
}

.slide {
	padding: 15px;
}

a {
    color: #222222;    
}

a:hover {
    color: #000;
}
